.newsImageCol {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    padding: 3px;
}

.newsImageSetter {
    // width: 200px;
    // height: 200px;

    .newsImageSetterItems {
        width: 158px !important;
        height: 158px !important;
        object-fit: cover;
        border-radius: 8px
    }

}